#--------------------------------------------------------------
# General
#--------------------------------------------------------------
app_name = "your-name"
location = "westeurope"
domain_name_label = ""

#--------------------------------------------------------------
# AKS configuration params
#--------------------------------------------------------------
kubernetes_version = ""
vm_size_node_pool = ""
node_pool_min_count = ""
node_pool_max_count = ""

#--------------------------------------------------------------
# Helm Chart versions
#--------------------------------------------------------------
helm_pod_identity_version = ""
helm_csi_secrets_version = ""
helm_agic_version = ""
helm_keda_version = ""